<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css"/>
    <title>Offline Materials</title>
  </head>
  <body>
    <div class="content">
      <div id="listMaterials" class="section">
      {# read about templates http://jinja.pocoo.org/docs/dev/templates/ #}
      {% for category in categories if category.name in overview %}
        <a name="{{ category.name|e }}" href="#{{ category.name|e }}">
          <div class="category">{{ category.get("text", category.name)|e }}</div>
        </a>
        <div class="category_content">
        {% for entry_name, entry in overview[category.name].iteritems() if entry_name != "name" %}
          <a href="../{{ entry.get("module")|e }}" class="materialLink">
            <div class="materialEntry">
              <div class="materialImage">
                {% if "module" in entry and entry.image %}
                <img src="../{{ entry.module|e }}/{{ entry.image|e }}" />
                {% endif %}
              </div>
              <div class="materialDescription">
                <div class="materialName">
                  {{ entry.get("name", entry_name)|e }}
                </div>
                <div class="materialText">
                  {{ entry.get("text")|e }}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </body>
</html>
