<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css"/>
    <title>{{ frontpage.title|t|e }}</title>
  {% if frontpage.favicon %}
    <link rel="icon" type="image/ico" href="../{{ frontpage.favicon.module|e }}/{{ frontpage.favicon.path|e }}">
  {% endif %}
  </head>
  <body>
    <div class="header">
    {% set heading = frontpage.heading %}
    {% if heading.logo %}
      <div class="logo">
        {% if heading.logo.link %}
        <a href="{{ heading.logo.link|e }}" name="logo">
        {% endif %}
          <img src="../{{ heading.logo.module|e }}/{{ heading.logo.path|e }}" alt="{{ heading.logo.get("alternative_text", frontpage.title)|e }}" />
        {% if heading.logo.link %}
        </a>
        {% endif %}
      </div>
    {% endif %}
    {% if heading.title or heading.text %}
      <div class="heading">
      {% if heading.title %}
        <div class="title">
         {{ heading.title|t|e }}
        </div>
      {% endif %}
      {% if heading.text %}
        <div class="text">
         {{ heading.text|t|e }}
        </div>
      {% endif %}
      </div>
    {% endif %}
    </div>
    <div class="content">
      {# read about templates http://jinja.pocoo.org/docs/dev/templates/ #}
      {% for category in categories if category.name in overview %}
      <div class="category">
        <a name="{{ category.name|e }}" href="#{{ category.name|e }}">
          <div class="heading">{{ category.get("text", category.name)|e }}</div>
        </a>
        <div class="content">
        {% for entry_name, entry in overview[category.name].iteritems() if entry_name != "name" %}
          <a href="../{{ entry.get("module")|e }}">
            <div class="entry">
<!--              <div>
                {% if "module" in entry and entry.image %}
                <img src="../{{ entry.module|e }}/{{ entry.image|e }}" />
                {% endif %}
              </div> -->
              <div class="heading">
                {{ entry.get("name", entry_name)|t|e }}
              </div>
              <div class="description">
                {{ entry.get("text")|t|e }}
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
  </body>
</html>
